server {
	listen 4245 4241;

	server_name localhost;

	root sudo;

	index index.html;
	cgi cgi_tester .bla;
	error_page error.html;

	location / {
		limit_except GET;
	}

	location /post_body {
		limit_except POST;
		client_max_body_size 100;
	}

	location /put_test {
		limit_except PUT;
		upload file_storage;
	}

	location /directory {
		root YoupiBanane;
		index youpi.bad_extension;
	}
}

server {
	listen 4245 4241;

	server_name example;

	root sudo;

	index index.html;
	cgi cgi_tester .bla;
	error_page error.html;

	location / {
		limit_except POST;
	}

	location /post_body {
		limit_except POST;
		client_max_body_size 100;
	}

	location /put_test {
		limit_except PUT;
		upload file_storage;
	}

	location /directory {
		root YoupiBanane;
		index youpi.bad_extension;
	}
}

server {
	listen 42;

	server_name localhost;

	root sudo;

	cgi cgi_tester .bla;

	error_page error.html;

	location /post {
		limit_except POST;
		client_max_body_size 50M;
	}
}

server {
	listen 2421;

	root sudo;

	index index.html;

	error_page error.html;

	location / {
		limit_except GET;
	}

	location /upload {
		limit_except POST;
		client_max_body_size 50M;
		upload file_storage;
	}

	location /delete {
		limit_except DELETE;
	}

	location /autoindex {
		limit_except GET;
		autoindex on;
		root file_storage;
	}

	location /redirection {
		limit_except GET;
		return https://profile.intra.42.fr/;
	}
}
